.suggestions{
    font-size: larger;
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 2em;
    padding: 2em;
}
.suggestions-heading
{
    font-size: 1.5em;
    text-align: center;
    color: rgb(191, 6, 6);
}
.form-container{
    font-size: larger;
    background-color: rgba(131, 235, 233, 0.8);
    border-radius: 2em;
    padding: 2em;
}