@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');

.home-content {
  background-color: rgb(130, 235, 207);
  padding: 3em;
  border-radius: 3em 20em;
  font-size: 1.2em;
  font-family: 'Zilla Slab', serif;
  transition: all 0.5s; /* Transition for all properties over 0.5 seconds */
}

.home-content:hover {
  background-color: rgb(255, 210, 210);
  padding: 3em;
  
  
  border-radius: 20em 3em;
}
.weather-content {
  margin-top: 3em;
  font-weight: 300;
  font-family: 'Playpen Sans', cursive;
  color: rgb(255, 255, 255);
  background-image: url("../Images/image-4.jpg");
  background-size: cover;
  height: 100vh;
  padding: 3em;
  font-size: large;
  border-radius: 2em;
  overflow-y: auto; /* This allows vertical scrolling */
  transition: background-image 0.3s; /* Transition for smoother effect */
}
