.auth {
    margin-top: 7em;
    margin-bottom: 5em;
    
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.auth h1 {
    text-align: center;
    color: rgb(252, 0, 50);
    margin-bottom: 1em;
}

.auth form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.auth span {
    font-size: 1.2em;
}

.password-strength {
    color: red;
}

.auth-container {
    /* Set the background image */
    background-image: url('../Images/Background-image.jpg');
    
    /* Adjust the image size to cover the container */
    background-size: cover;
    
    /* Center the image */
    background-position: center;
    
    /* Ensure the background image covers the whole container */
    background-attachment: fixed;

    /* Optional: Setting a background color in case the image is not fully displayed */
   
}

.container-login {
    /* Set the background image */
    background-image: url('../Images/background-image1.jpg');
    
    /* Adjust the image size to cover the container */
    background-size: cover;
    
    /* Center the image */
    background-position: center;
    
    /* Ensure the background image covers the whole container */
    background-attachment: fixed;

    /* Optional: Setting a background color in case the image is not fully displayed */
   
}